/* Expert Banks */
/* navbar css */

body {
    background: linear-gradient(319deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 92%);
    font-family: 'Iowan Old Style';
    font-style: normal;
}


.container {
    width: 1240px;
}

i {
    margin: 0.2rem;
    vertical-align: middle;
}

.subtext {
    color:#9D9D9D;
}

.btn-outline-primary {
    color: #3C3C3C;
    border-color: #3C3C3C;
}
.btn-outline-primary:hover {
    background-color: rgba(7, 7, 7, 0.14);
    border-color: rgba(7, 7, 7, 0.0);
    color: aliceblue;
}

.logo_brand {

/*position: absolute;
padding-left: 12%;
width: 154px;
height: 74px;
left: 74px;
top: 0px;*/

font-family: 'Iowan Old Style';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
color: #3a8454;
padding-right: 1rem;
}
.logo_brand:hover {
 color: #3a8454;
}

.logo_brand img {
    margin-right: 10px;
    
}

.btn {
    font-family: 'Open Sans';
}

.btn-green {
    background-color: #3a8454;
    color: #fff;
}

..btn-green:hover {
    background-color: aquamarine;
}

.navigation {
    --bs-navbar-padding-y: 0;
   /* padding-left: 12%; */
    padding-top: 0.2rem;
    padding-bottom: 0.4rem;
    font-size: 1.1em;
}

nav ul>li {
    padding-right: 1rem;
}

.sub-navigation {
    background-color: #e6ebee;
    padding: 0.2rem;
    font-size: 0.8em;
}

.navbar-nav li {
    font-family: 'Open Sans';
}



.language-btn {
    margin-right: 1rem;
    
}
.language-btn button {
    border-radius: 100%;
    border: 0px;
    font-size: 0.7rem;
    color: aliceblue; 
    padding-left: 0.1rem;
    padding-left: 0.1rem;
    background-color: transparent;
}

.language-btn button:hover {
    background-color: transparent;
    color: #3C3C3C
    
}

.padding-for-header {
   /* padding-left: 24%;*/
    font-family: 'Iowan Old Style';
}
.block-1-bg {
    background-image: url("../images/alhambra-3098633.jpg");
    background-size: cover;
    background-color: #9EF0CD;
}

.block1 {
    font-family:'Iowan Old Style';
    /* padding-top: 5%;
    padding-left: 10%; */
    text-align: left;
    padding-top: 2.5rem;
    
}

.block-2-bg {
    background-image: url('../images/block-bg.png');
}

.block-2 {
    color: aliceblue;
    padding-top: 4%;
    padding-bottom: 4%;
}

.block-2 button {
    color: aliceblue;
    border-color: aliceblue;
    margin-top: 1rem;
}
.block-2 button:hover {
    background-color: aliceblue;
    border-color: aliceblue;
    color: #3C3C3C;
}

.ref {
    font-size:  0.7rem;
    
}

.block1 p {
    margin-top: 1rem;
}

.blk1 {
    padding-bottom: 5%;
}

small {
    color: #3C3C3C;
    text-transform: uppercase;
}

.banner-image {
    padding-right: 0;
}

.block2 {
    font-family:'Iowan Old Style';
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    text-align: left;
}

.block_2 {
    padding-left: 5%;
    padding-top: 5%;
}

.block3 {
    margin: 3rem;
}

.block3 img {
    
}

.services-icon {
    width: 128px;
    height: 128px;
}

.services-title {
    padding: 1rem;
}


.block4 {
    margin-top: 5rem;
    margin-bottom: 10rem;
    padding-left: 2rem;
}

.services-card {
    padding-right: 2.5rem;
}

.block4-title {
    text-align: center;
}
.block4-title div {
        border-style: solid;
    border-bottom: none;
    border-top: none;
}

.list-group {
    margin-top: 2rem;
}

.list-group li {
 border-top: none;
 border-bottom: none;
 border-left: none;
 background: none;
    
}

.list-group li:last-child {
    border-right: none;
}