/* Expert Banks */
/* navbar css */

body {
    background: #fff;
    font-family: 'Iowan Old Style';
    color: #333;
    font-style: normal;
}

.navbar {
    z-index: 10;
}
.container {
    width: 1240px;
}

.news-block {
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F5EBE6;
}

.card {
    border-style: none;
    border-radius: 0px;
    height: 100%;
}

.card-title {
    color: #3a8454;
}

.card img {
    border-radius: 0px;
}

.data {
    padding-top: 1rem;
    font-size: 0.8em;
    color: #BDB1AC;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.card-text {
    line-height: 1.7em;
    font-weight: 300;
}

.card-footer {
    background: none;
    border-top: 0px;
    padding-bottom: 2rem;
}

.card-footer a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #333;
    line-height: 100%;
    vertical-align: bottom;
}

.carousel-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.carousel-item {
    max-height: 600px;
}
.carousel-item img {
    z-index: -1;
}

.carousel-caption {
    position: absolute;
    right: 10%;
    top: 5%;
    left: auto;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: left;
    width: 45%;
    z-index: 5;
    font-family: 'Open Sans';
    }


.carousel-caption h5 {
    margin-bottom: 2rem;
    font-weight: 400;
}

.carousel-caption p {
    line-height: 1.7em;
    font-weight: 300;
}

.carousel-control-next {
    width: 7%;
    text-decoration: none;
    font-size: 1.4em;
    color: transparent;
}
.carousel-control-next a:hover {
    color: #fff;
}


.carousel-control-prev {
    width: 7%;
    text-decoration: none;
    font-size: 1.4em;
    color: transparent;
}

.carousel-control-prev a:hover {
    color: #fff;
}



.carousel-caption a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
}
    
i {
    margin: 0.2rem;
    vertical-align: middle;
}

.subtext {
    color:#9D9D9D;
}

.btn-outline-primary {
    color: #3C3C3C;
    border-color: #3C3C3C;
}
.btn-outline-primary:hover {
    background-color: rgba(7, 7, 7, 0.14);
    border-color: rgba(7, 7, 7, 0.0);
    color: aliceblue;
}

.sub-header {
    text-align: right;
    padding: 0.4rem;
}

.sub-header a {
    color: aliceblue;
    font-family: 'Open Sans';
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: normal;
    text-decoration: none;
    padding-bottom: 0.1rem;
    border-bottom-width: 1px;
    border-bottom-color: aliceblue;
    display: inline-block;
    border-bottom-style: dotted;
}

.logo_brand {

/*position: absolute;
padding-left: 12%;
width: 154px;
height: 74px;
left: 74px;
top: 0px;*/

font-family: 'Iowan Old Style';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 20px;
display: flex;
align-items: center;
color: #3a8454;
padding-right: 1rem;
}
.logo_brand:hover {
 color: #3a8454;
}

.logo_brand img {
    margin-right: 10px;
    
}

.btn {
    font-family: 'Open Sans';
}

.btn-green {
    background-color: #3a8454;
    color: #fff;
}

.btn-green:hover {
    background-color: #ACF2C5;
}

.navigation {
    --bs-navbar-padding-y: 0;
   /* padding-left: 12%; 
   /* padding-top: 0.2rem;
    padding-bottom: 0.4rem;*/
    font-size: 0.9em;
}

nav ul>li {
    padding-right: 1rem;
}

.dropdown-menu {
    border: none;
    border-radius: 0px;
    font-size: 0.8em;
    line-height: 3em;
    width: 300px;
    padding-bottom: 0px;
}
.dropdown-menu li {
    padding-left: 30px;
}
.dropdown-menu li:hover {
    background-color: #3a8454; 
}

.dropdown-menu li a:hover {
    background-color: transparent;
    color: aliceblue;
}

.sub-navigation {
    background-color: #e6ebee;
    padding: 0.2rem;
    font-size: 0.8em;
}

.navbar-nav li {
    font-family: 'Open Sans';
}



.language-btn {
    margin-right: 1rem;
    
}
.language-btn button {
    border-radius: 100%;
    border: 0px;
    font-size: 0.7rem;
    color: #999; 
    padding-left: 0.1rem;
    padding-left: 0.1rem;
    background-color: transparent;
}

.language-btn button:hover {
    background-color: transparent;
    color: #3C3C3C
    
}

.padding-for-header {
   /* padding-left: 24%;*/
    font-family: 'Iowan Old Style';
}
.block-1-bg {
    background-image: url("../images/alhambra-3098633.jpg");
    background-size: cover;
    background-color: #9EF0CD;
}

.block1 {
    font-family:'Iowan Old Style';
    /* padding-top: 5%;
    padding-left: 10%; */
    text-align: left;
    padding-top: 2.5rem;
    
}

.block-2-bg {
    background-image: url('../images/block-bg.png');
}

.block-2 {
    color: aliceblue;
    padding-top: 4%;
    padding-bottom: 4%;
}

.block-2 button {
    color: aliceblue;
    border-color: aliceblue;
    margin-top: 1rem;
}
.block-2 button:hover {
    background-color: aliceblue;
    border-color: aliceblue;
    color: #3C3C3C;
}

.ref {
    font-size:  0.7rem;
    
}

.block1 p {
    margin-top: 1rem;
}

.blk1 {
    padding-bottom: 5%;
}

small {
    color: #3C3C3C;
    text-transform: uppercase;
}

.banner-image {
    padding-right: 0;
}

.block2 {
    font-family:'Iowan Old Style';
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    text-align: left;
}

.block_2 {
    padding-left: 5%;
    padding-top: 5%;
}

.block3 {
    margin: 3rem;
}

.block3 img {
    
}

.services-icon {
    width: 128px;
    height: 128px;
}

.services-title {
    padding: 1rem;
}


.block4 {
    margin-top: 5rem;
    margin-bottom: 10rem;
    padding-left: 2rem;
}

.services-card {
    padding-right: 2.5rem;
}

.block4-title {
    text-align: center;
}
.block4-title div {
        border-style: solid;
    border-bottom: none;
    border-top: none;
}

.list-group {
    margin-top: 2rem;
}

.list-group li {
 border-top: none;
 border-bottom: none;
 border-left: none;
 background: none;
    
}

.list-group li:last-child {
    border-right: none;
}